body {
    font-family: Rubik;
}

.margin10px-left {
    margin-left: 10px;
}

.carousel-slider .carousel-fixed-item {
    pointer-events: none;
}

.carousel-slider .carousel-fixed-item .btn {
    pointer-events: all;
}

.carousel-slider .carousel-item .img-responsive {
    width: 100%;
    max-height: calc(100vh - 64px);
    object-fit: cover;
}

.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.mini-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}